#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #282E2D;
    z-index: -1;
}

.background-blob {
    position: fixed;
    min-width: 1000px;
    top: 0;
    left: 0;
    filter: blur(200px);
    opacity: 0.75;
}