{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "mainApp/partials/navbar.css" %}">
{% endblock %}

<div class="hamburger-menu">
    <a href="{% url "contact-page" %}">Kontakt</a>
    <a href="{% url "about-page" %}">O projekcie</a>
    <a href="{% url "features-page"%}">Funkcje</a>
    <a id="navbar-login-button" href="{% url "login-page" %}">Zaloguj się</a>
</div>

<div id="navbar-container">
    <header id="navbar">

        <nav id="nabar-navigation">
    
            {% include "mainApp/partials/logo.html" %}
    
            <div id="navigation-links">
                <a href="{% url "contact-page" %}" class="navigation-link">Kontakt</a>
                <a href="{% url "about-page" %}" class="navigation-link">O projekcie</a>
                <a href="{% url "features-page"%}" class="navigation-link">Funkcje</a>
            </div>
            <div id="log-in-navbar-link-container">
                <a id="navbar-login-button" href="{% url "login-page" %}" class="navigation-link">Zaloguj się</a>
            </div>
    
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    
    </header>
</div>