{% extends "base.html" %}
{% load static %}

{% block title %} Budget planner {% endblock %}
{% block css_files %} <link rel="stylesheet" href="{% static "mainApp/home.css" %}"> {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="edit-profile">
      <h3>First Name</h3>
      <input type="text" name="first_name" value="{{ user.first_name }}" maxlength="30" id="id_first_name">
     
      <h3>Last</h3>
      <input type="text" name="last_name" value="{{ user.last_name }}" maxlength="30" id="id_first_name">
     
      <h3>Username</h3>
      <input type="text" name="username" value="{{ user.username }}" maxlength="150" required="" id="id_username">
     
      <h3>Email</h3>
      <input type="email" name="email" value="{{ user.email }}" maxlength="254" id="id_email">
     
      <button type="submit">Submit</button>
    </div>
  </form>
{% else %}
Nie zalogowano :/
{% endif %}
{% endblock %}