{% extends "base.html" %}
{% load static %}

{% block title %} Ranking Naukowy {% endblock %}
{% block css_files %} <link rel="stylesheet" href="{% static "mainApp/home.css" %}"> {% endblock %}

{% block content %}

<div class="home-page-container">
    {% include "mainApp/partials/sidebar.html" %}
    {% include "mainApp/partials/header.html" %}


    <div class="home-content-container">
        <div class="grid-tile"></div>
        <div class="grid-tile"></div>
        <div class="grid-tile"></div>

        <div class="grid-tile wide"></div>
        <div class="grid-tile"></div>
        <div class="grid-tile"></div>

        <div class="grid-tile"></div>
        <div class="grid-tile"></div>
        <div class="grid-tile"></div>

        <div class="grid-tile"></div>
        <div class="grid-tile"></div>
        <div class="grid-tile"></div>
        
    </div>

</div>

{% endblock %}