{% extends "base.html" %}
{% load static %}

{% block title %} Budget planner {% endblock %}
{% block css_files %} <link rel="stylesheet" href="{% static 'mainApp/home.css' %}"> {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div>
    Zalogowano jako {{user.username}} <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a> <br/>
    <a class="nav-link" href="{% url 'profile-page' %}">profile</a> <br/>


    HOME - tutaj główny dashboard

</div>
{% else %}
Nie zalogowano :/
{% endif %}
{% endblock %}