{% extends "base.html" %}
{% load static %}

{% block title %} Budget planner {% endblock %}
{% block css_files %} <link rel="stylesheet" href="{% static 'mainApp/profile.css' %}"> {% endblock %}

{% block content %}

PROFIL

{% if user.is_authenticated %}
<div>
   <a class="nav-link" style="color: #000" href="{% url "logout" %}">LOGOUT</a>

    <div>
        <label>Username: <label>
        {{user.username}}
    </div>

    <div>
        <label>Email: <label>
        {{user.email}}
    </div>

    <div>
        <label>First name: <label>
        {{user.first_name}}
    </div>

    <div>
        <label>Last name: <label>
        {{user.last_name}}
    </div>
    
</div>

<a class="nav-link" style="color: #000" href="{% url "edit-user-page" %}">Edit</a>
{% else %}
Nie zalogowano :/   
{% endif %}

{% endblock %}