{% extends "base.html" %}
{% load static %}

{% block title %} Ranking Naukowy - Sttystyki uczelni {% endblock %}
{% block css_files %} <link rel="stylesheet" href="{% static 'mainApp/statistics.css' %}"> {% endblock %}

{% block content %}

{% load widget_tweaks %}

<div class="statistics-page-container">
    {% include "mainApp/partials/sidebar.html" %}
    {% include "mainApp/partials/header.html" %}


    <div class="statistics-content-container">
        <div class="statistics-header">
            <form class="statistics-header-form" method="GET" action="{% url 'statistics' %}">
                <div class="form-group">
                    <label>Uczelnia</label>
                    {% render_field form.university %}
                </div>

                <div class="form-group">        
                    <label>Od</label>
                    {% render_field form.start %}

                </div>

                <div class="form-group">
                    <label>Do</label>
                    {% render_field form.end %}
                </div>
    
                <button class="confirm-button" type="submit" ><i class="fa-solid fa-check"></i></button>
            </form>
        </div>
        
        <div class="grid-tile chart-citation-count">
            {{ publicationsPerYearChart|safe }}
        </div>

        <div class="grid-tile pie-chart">
            <form class="donut-chart-form" method="GET" action="{% url 'statistics' %}">
                <div class="form-group">
                    {% render_field donutChartForm.dataType %}
                </div>
                <button class="confirm-button"><i class="fa-solid fa-check"></i></button>
            </form>
            <div class="donut-chart-container">
                {{ pieChart|safe }}
            </div>
        </div>

        
    </div>

</div>

{% endblock %}