{% extends "base.html" %}
{% load static %}

{% block title %} Ranking Naukowy - Sttystyki uczelni {% endblock %}
{% block css_files %} <link rel="stylesheet" href="{% static 'mainApp/statistics.css' %}"> {% endblock %}

{% block content %}

{% load widget_tweaks %}

<div class="statistics-page-container">
    {% include "mainApp/partials/sidebar.html" %}
    {% include "mainApp/partials/header.html" %}


    <div class="statistics-content-container">

            <form class="statistics-header-form" method="GET" action="{% url 'statistics' %}">
                <div class="form-group input-university">
                    <label>Uczelnia</label>
                    {% render_field form.university %}
                </div>

                <div class="form-group">        
                    <label>Od</label>
                    {% render_field form.start %}
                </div>

                <div class="form-group">
                    <label>Do</label>
                    {% render_field form.end %}
                </div>
                
                <div class="button-container">
                    <button class="confirm-button" type="submit" ><i class="fa-solid fa-check"></i></button>
                </div>
            </form>

            <form class="donut-chart-form" method="POST" action="{% url 'statistics' %}">
                {% csrf_token %}
                <div class="form-group data-type-input">        
                    <label>Rodzaj danych</label>
                    {% render_field donutChartForm.dataType %}
                </div>
                <div class="button-container">
                    <button class="confirm-button" type="submit" ><i class="fa-solid fa-check"></i></button>
                </div>
            </form>

        <div class="line-chart-container">
            {{ publicationsPerYearChart|safe }}
        </div>

        <div class="donut-chart-container">
            {{ pieChart|safe }}
        </div>
        
    </div>

</div>

{% endblock %}